
<div class="flex">
  <!-- left box begins-->

  <div class="flex-1">
    <div class="table-container">
      <table class="table w-100" [formGroup]="putSystemForm">

        <thead>
          <tr>
            <th>#</th>
            <th>Polynomial</th>
            <th></th>
          </tr>
        </thead>

        <tbody formArrayName="systems">
          <tr [formGroupName]="i" *ngFor="let system of systems; let i = index" class="table-row-left">
            <td style="width:5%">{{i+1}}</td>

            <td formArrayName="parameters" *ngFor="let row of putSystem_ParametersControl(i).controls; let j = index" class="table-data-6">
              <div *ngIf="j !== 0">
                <span type="text" class="form-span-parameter">{{row.value.value}}</span>
                <span class="text-grey flex-text-x">x</span>
                <sup class="text-grey flex-text" *ngIf="j !== 1">{{j}}</sup>
                <span class="text-grey flex-text" *ngIf="j != putSystem_ParametersControl(i).length - 1">+</span>
              </div>
              <div *ngIf="j === 0">
                <span type="text" class="form-span-parameter">{{row.value.value}}</span>
                <span class="text-grey flex-text">+</span>
              </div>
            </td>
            <!--it was 200px there-->
            <td style="width:50px" *ngIf="system.isCompleted">
              <button class="button button-red-back ml" (click)="deleteClicked(system, i)" *ngIf="system.id != editId" type="button">Delete</button>
              <button class="button button-blue-back ml" (click)="checkRoots(i)" *ngIf="system.id != editId" type="button">Check</button>

            </td>
            <td style="width:50px" *ngIf="!system.isCompleted">
              <!--<app-loading [isLoading]="loading"></app-loading>-->
              <button class="button button-red-back ml" (click)="terminateClicked(system, i)" *ngIf="system.id != editId" type="button">Terminate</button>

            </td>
          </tr>
        </tbody>

      </table>
    </div>
    <button type="button" class="button button-blue-back mt" (click)="refreshClicked()">
      Refresh
    </button>
  </div>
  <!--it was w-50 there-->
  <div class="flex-1 w-50">
    <div class="form-container">

      <form [formGroup]="postRowsForm">
        <select id="rows" formControlName="rows" (change)="resizePostForm()">
          <option value="3" selected="selected">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </form>

      <div class="table-container">

        <table class="table" [ngClass]="{'w-20': rows === 2, 'w-50': rows === 3,
             'w-60': rows === 4, 'w-70': rows === 5, 'w-90': rows === 6 }" [formGroup]="postParametersForm">

          <thead>
            <tr>
              <th>Enter system of equations</th>
            </tr>
          </thead>

          <tbody>
            <tr formArrayName="parameters" class="table-row">
              <td *ngFor="let row of postParametersFormArray.controls; let i = index" [ngClass]="{'table-data-2': rows === 2, 'table-data-3': rows === 3,
             'table-data-4': rows === 4, 'table-data-5': rows === 5, 'table-data-6': rows === 6 }">
                <div *ngIf="i !== 0" [formGroupName]="i">
                  <input type="text" formControlName="value" class="form-input-parameter" value="{{row}}" />
                  <span class="text-grey flex-text-x">x</span>
                  <sup class="text-grey flex-text" *ngIf="i !== 1">{{i}}</sup>
                  <span class="text-grey flex-text" *ngIf="i != rows - 1">+</span>
                </div>
                <div *ngIf="i === 0" [formGroupName]="i">
                  <input type="text" formControlName="value" class="form-input-parameter" value="{{row}}" />
                  <span class="text-grey flex-text">+</span>
                </div>
              </td>
            </tr>
            <tr class="table-row">
              <td style="width:200px">
                <button class="button button-blue-back" (click)="postParametersSubmitted()">
                  Solve
                </button>
              </td>
            </tr>
            <!--<app-loading [isLoading]="loading"></app-loading>-->
            <tr formArrayName="roots" class="table-row">
              <td style="width:200px" *ngFor="let root of postRootsFormArray.controls; let i = index">
                <span class="text-grey">
                  x
                  <sub class="text-grey">{{i + 1}}</sub>
                  =
                </span>
                <span class="text-grey">{{root.value.value}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <!-- right box ends-->
  
</div>
